* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  text-align: center;
  height: 100vh;

  background: linear-gradient(0deg, #f7e4bf, #78a7c6 40%, #134d71 85%);
  color: #ffffff;

  font-family: 'Quicksand', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: 0vh 0vw 18vh 0vw;
}

h1 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.25rem;
}

div {
  background: #ffffff;
  border-radius: 9px;
}

label {
  font-size: 1rem;
}

input[type="radio"] {
  margin-right: .75rem;
  width: 1.1rem;
  height: 1.1rem;
}

button {
  width: 14vw;
  min-width: 150px;
  padding: .25rem;
  border-style: none;
  margin-bottom: 1rem;

  border-radius: 4px;

  background: #134d71;
  color: #ffffff;

  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

img {
  width: 5vw;
  min-width: 70px;
  padding: 3vh 30vw 3vh 30vw;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  color: #ffffff;

  text-decoration: none;
}

.type-of-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38vw;
  height: 9vh;
  padding: 1rem;
  margin-top: .6rem;

  color: #000000;

  font-style: italic;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
  width: 38vw;
  margin: .25rem .5rem 1rem .5rem;

}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 20vh;
}

.random-message {
  margin: auto;

  color: #000000;

  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

.hidden {
  display: none!important;
}

.buttons {
  display: inline;
}
